<h2>Pagina de servicios</h2>
<p>Además de nuestras pizzas, también ofrecemos empanadas caseras, hamburguesas con papas, podés agregarle queso cheddar y panceta, sandwiches de milanesas, por supuesto se pueden incluir gaseosas y/o cervezas.</p>